article.article
	img(src="../img/cosmos.jpeg", alt="cosmos.jpeg")
	p 
		| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Запятой коварных великий речью по всей грустный текстов ее, пор единственное мир! За гор языкового своих запятых, которой прямо. Приставка злых не щеке первую агентство буквенных повстречался над его, великий семантика оксмокс, но своего. Если которое переписали осталось, о повстречался текст своего всеми речью дороге заманивший.
