extends ../layouts/layout

block content
	.container
		.row 
			.col-4
				H1 Главная страница
				+svg-icon('log', 'log-in-class')
				+svg-icon('drink_smoothie_juice_icon_263281', 'log-in-class')
				.icons5
			.col-8
				include ../blocks/article/article
				
				
